#features{
    color: white;
    font-size: 16px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-content: center;
}

#features > h2 {
    text-align: center;
    margin-bottom: 48px;
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(384px, 640px));
    gap: 32px;
    justify-content: center;
}

.features-grid h3{
    text-align: center;
}

.features-grid > div{
    padding: 16px;
    border: solid thin red;
    border-radius: 8px;
    box-sizing: border-box;

}

.triggerbot, .miscellaneous{
    height: 256px;
}