
#intro{
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}

.navbar{
    position: relative;
}

.navbar > button, .page-nav > button{
    appearance: none;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
}

.navbar > button{
    background-color: red;
    width: 96px;
}

.navbar > .hamburger-button{
    width: 42px;
    height: 42px;
    position: absolute;
    left: 24px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
    transition: transform 0.25s, opacity 0.25s;
}

.page-nav > button {
    background-color: rgb(32, 32, 32);
}

.page-center{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.page-center > .product-logo{
    width: 384px;
    height: auto;
}

.page-center > .product-name{
    box-sizing: border-box;
    color: red;
    border: thin solid red;
    border-radius: 8px;

    width: 512px;
    height: 64px;
    line-height: 64px;
    text-align: center;

    font-weight: bold;
}

.page-nav{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 16px;
    gap: 16px;
}



