#showcase{
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    gap: 48px;
}

#showcase > h2{
    color: #af0000;
    font-size: 64px;
    margin: 0;
    text-align: center;
}

@media screen and (min-width: 860px){
    .screenshots-grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(384px, 640px));
        gap: 32px;
        justify-content: center;
    }
}

@media screen and (max-width: 860px){
    .screenshots-grid{
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .screenshots-grid > figure{
        min-width: 384px;
        max-width: 512px;
    }
}

.screenshots-grid > figure{
    border: thin solid hsl(0, 70%, 50%);
    padding: 16px;
    border-radius: 12px;
    margin: 0;
    height: auto;
    box-shadow: 0 0 8px #af0000;
}

.screenshots-grid > figure > img{
    width: 100%;
    height: auto;
}

.screenshots-grid figcaption{
    color: red;
    margin-top: 24px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}