#features{
    color: white;
    font-family: 'Inter', 'sans serif';
    font-size: 16px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-content: center;
}

#features > h2 {
    font-size: 64px;
    color: #af0000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}



@media screen and (min-width: 860px){
    .features-grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(384px, 640px));
        gap: 32px;
        justify-content: center;
        align-content: center;
    }
}

.features-grid h3{
    text-align: center;
    margin-top: 0;
}

.features-grid > div{
    padding: 24px;
    border: solid thin hsl(0, 70%, 50%);
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 8px #af0000;
}

@media screen and (max-width: 768px){
    .features-grid{
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
        justify-content: center;
        align-items: stretch;
    }

}
/*Tablet view of the features section*/
@media screen and (min-width: 800px) and (max-width: 900px){
    .features-grid{
        display:flex;
        flex-flow: column nowrap;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }
    
    .features-grid > div{
        width: 640px;
    }
}