
#intro{
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}

.navbar{
    position: relative;
}

.navbar button, .page-nav button{
    appearance: none;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
}

.navbar > button{
    background: none;
    width: 96px;
    border: solid thin red;
}

.navbar .hamburger-button{
    width: 42px;
    height: 42px;
    position: absolute;
    left: 24px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0deg, 0%, 0%, 0%);

    border: solid thin red;
    padding: 24px;
}

.main-button{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
    transition: transform 0.25s, opacity 0.25s;
}

.page-nav > button {
    background-color: rgb(32, 32, 32);
}

.page-center{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


@media screen and (min-width:860px) {
    .page-center > .product-logo{
        width: 384px;
        height: auto;
    }
    
    .page-center > .product-name{
        box-sizing: border-box;
        color: red;
        border: thin solid red;
        border-radius: 8px;
    
        width: 512px;
        height: 64px;
        line-height: 64px;
        text-align: center;
    
        font-size: 24px;
        font-weight: bold;
        cursor: default;
    }    
}


.page-nav{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 16px;
    gap: 16px;
}

/*Translation of menu buttons on PC screens*/
@media screen and (min-width: 860px){
    .main-button.show-button:nth-child(2){
        transform: translateY(85px);
    }
    .main-button.show-button:nth-child(3){
        transform: translateY(158px);
    }
    .main-button.show-button:nth-child(4){
        transform: translateY(225px);
    }
    .main-button.show-button:nth-child(5){
        transform: translateY(292px);
    }
}

/*Mobile screens*/
@media screen and (max-width: 860px){
    /*Adjustment of main elements*/
    .page-center > .product-logo{
        width: 256px;
        height: auto;
    }
    .page-center > .product-name{
        box-sizing: border-box;
        color: red;
        border: thin solid red;
        border-radius: 8px;
    
        width: 300px;
        height: 36px;
        text-align: center;
    
        font-size: 24px;
        font-weight: bold;
        cursor: default;
    }
    .navbar > .hamburger-button{
        left: 0;
    }
    /*The navbar requires resizing on mobile*/
    .navbar button{
        font-size: 12px;
        width: 64px;
        padding: 6px;
        border-radius: 4px;
        background: none;
        border: solid thin red;
    }

    .navbar .hamburger-button{
        width: 24px;
        height: 24px;
        padding: 16px;
    }

    .navbar .hamburger-button > img{
        width: 24px;
        height: 24px;
    }

    /*When the navbar is clicked*/
    .main-button.show-button:nth-child(2){
        transform: translateY(58px)
    }
    .main-button.show-button:nth-child(3){
        transform: translateY(100px)
    }
    .main-button.show-button:nth-child(4){
        transform: translateY(142px)
    }
    .main-button.show-button:nth-child(5){
        transform: translateY(184px)
    }
}



